body {
    max-width: 1366px;
    min-width: 900px;
    margin: auto;
    background-color: #d6c0b0;
    text-align: center;
}
/* 
.container {
    position: relative;
} */

/* header & footer (content on the center of the page) */
header, footer {
    font-family: 'Reenie Beanie', cursive;
    color: rgb(121, 95, 57);
    position: absolute;
    left: 50%;
    top: 50%;
    /* z-index: 0; */
    text-align: center;
}

header {
    transform: translate(-50%, -50%);
    font-size: 40px;

}

footer {
    transform: translate(-50%, 80%);
}

footer ul {
    list-style: none;
    align-items: center;
}

footer ul li{
    width: auto;
    display: inline;
    padding: 10px;
}

a {
    color: rgb(121, 95, 57);
    text-decoration: underline;
    font-size: 30px;
}

/* picture with blocks over it */
#bg {
    overflow: hidden;
    width: 1399px;
    height: 768px;
    position: relative;
    margin: auto;
    /* z-index: -1; */
}

#bg div{
    position: absolute;
    width: 150px; 
    height: 150px;
}

#bg img {
    display: block;
    position: absolute;
}

/* set up blocks' positions */
/* top pictures */
#topOne {
    top: 0;
    left: 0;
}

#topTwo {
    top: 15%;
    left: 15%;
}

#topThree {
    top: 15%;
    left: 33%;
}

#topFour {
    top: 25%;
    left: 55%;
}

#topFive {
    top: 10%;
    left: 83%;
}

/* bottom pictures */
#bottomOne {
    bottom: 5%;
    left: 0;
}

#bottomTwo {
    bottom: 5%;
    left: 10%;
}

#bottomThree {
    bottom: 15%;
    left: 18%;
}

#bottomFour {
    bottom: 15%;
    left: 45%;
}

#bottomFive {
    bottom: 13%;
    left: 66%;
}

#bottomSix {
    bottom: 13%;
    left: 77%;
}

#bottomSeven {
    bottom: 13%;
    right: 0;
}

/* when hover over the div blocks over each picture: */
/* (1) a frame shows up */
/* (2) the cursor turns into "?" */
/* (3) when user clicks, overlay shows up */
#topOne:hover, #topTwo:hover, #topThree:hover, #topFour:hover, #topFive:hover,
#bottomOne:hover, #bottomTwo:hover, #bottomThree:hover, #bottomFour:hover, #bottomFive:hover, #bottomSix:hover, #bottomSeven:hover {
    cursor: help;
    
}

/* overlay setting */
.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: showing;
    opacity: 1;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: visibility, opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.overlay article {
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px;
    width: 50vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
}
