body {
    max-width: 1366px;
    min-width: 900px;
    margin: auto;
    background-color: #d6c0b0;
    /* text-align: center; */
}
/* 
.container {
    position: relative;
} */

/* header & footer (content on the center of the page) */
#wrap {
    color: rgb(121, 95, 57);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* z-index: 0; */
    /* text-align: center; */
}

header {
    /* transform: translate(-50%, -50%); */
    font-size: 35px;
    font-family: 'Reenie Beanie', cursive;
}

footer {
    position: relative;
}

footer ul {
    list-style: none;
    align-items: center;
}

footer ul li{
    width: auto;
    display: inline;
    padding: 10px;
}

a {
    font-family: 'DM Sans', sans-serif;
    color: rgb(139, 121, 94);
    text-decoration: underline;
    font-size: 20px;
}

footer #story {
    color: rgb(104, 78, 39);
    font-weight: bolder;
}

/* picture with blocks over it */
#bg {
    overflow: hidden;
    width: 1399px;
    height: 768px;
    position: relative;
    margin: auto;
    /* z-index: -1; */
}

#bg div{
    position: absolute;
    width: 160px; 
    height: 160px;
}

#bg img {
    display: block;
    position: absolute;
}

/* set up blocks' positions */
/* top pictures */
#topOne {
    top: 0;
    left: 0;
}

#topTwo {
    top: 15%;
    left: 15%;
}

#topThree {
    top: 15%;
    left: 33%;
}

#topFour {
    top: 25%;
    left: 55%;
}

#topFive {
    top: 10%;
    left: 83%;
}

/* bottom pictures */
#bottomOne {
    bottom: 5%;
    left: 0;
}

#bottomTwo {
    bottom: 5%;
    left: 10%;
}

#bottomThree {
    bottom: 15%;
    left: 18%;
}

#bottomFour {
    bottom: 15%;
    left: 45%;
}

#bottomFive {
    bottom: 13%;
    left: 66%;
}

#bottomSix {
    bottom: 13%;
    left: 77%;
}

#bottomSeven {
    bottom: 13%;
    right: 0;
}

/* when hover over the div blocks over each picture: */
/* (1) a frame shows up */
/* (2) the cursor turns into "?" */
/* (3) when user clicks, overlay shows up */
#topOne:hover, #topTwo:hover, #topThree:hover, #topFour:hover, #topFive:hover,
#bottomOne:hover, #bottomTwo:hover, #bottomThree:hover, #bottomFour:hover, #bottomFive:hover, #bottomSix:hover, #bottomSeven:hover {
    cursor: url("images/cursor.png"), auto;
}

/* overlay setting */
.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: visibility, opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.overlay article {
    box-sizing: border-box;
    background-image: url("images/overlaybg.jpg");
    background-size: cover;
    padding: 20px;
    width: 50vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    font-family: 'DM Sans', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
}

.overlay article img {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.overlay article figcaption {
    
    margin-top: 18px;
    text-align: center;
    font-style: italic;
    font-size: 18px;
    color: rgb(91, 66, 33);
}

.overlay article p {
    width: 33vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 27px;
    text-align: justify;
    color: rgb(83, 62, 35);
    background-color: #d6c0b0;
    padding: 12px;
}

.overlay article button {
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: none;
    border: solid black;
    border-radius: 100px;
    font-size: larger;
}

#previous {
    position: fixed;
    left: 100px;
    top: 230px;
    background-color: none;
    border: solid rgba(0, 0, 0, 0.322);
    border-radius: 100px;
    font-size: larger;
}

#next {
    position: fixed;
    right: 100px;
    top: 230px;
    background-color: none;
    border: solid rgba(0, 0, 0, 0.322);
    border-radius: 100px;
    font-size: larger;
}