body {
    max-width: 1366px;
    min-width: 900px;
    /* background-image: radial-gradient(closest-corner at 50% 17%, #422619, #2b1910, black); */
    background-image: radial-gradient(closest-corner at 55% 19%, #0c0705e5, black);
    /* background-color: #0c0705; */
    margin: auto;
    /* display: flexbox;
    align-content: center; */
}

/* spotlight */
#spotlight {
    width: 50px;
    height: 50px;
    border-radius: 90%;
    background-color: rgba(250, 250, 216, 0.781);
    position: absolute;
    animation-name: spot;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes spot{
    0% {opacity: 0%;  left: 0px; top: 400px;}
    /* 25% {width: 100px; height: 100px; opacity: 25%; left: 700px; top: 500px;} */
    50% {width: 200px; height: 200px; opacity: 75%; left: 700px; top: 400px;}
    /* 75% {width: 100px; height: 100px; opacity: 25%; left: 900px; top: 500px;} */
    100% {opacity: 0%; left: 1600px; top: 400px;}
}
/* titles */

#name {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

#name h1 {
    /* display: inline; */
    font-family: 'Playball', cursive;
    font-size: 37px;
    letter-spacing: 6px;
    color: #c4a886;
}

#name h2 {
    /* display: inline; */
    font-family: 'Titillium Web', sans-serif;
    font-size: 19px;
    letter-spacing: 12px;
    padding-left: 10px;
    color: #d8cfad;
}

#name h3 {
    font-family: 'Cinzel Decorative', cursive;    
    font-size: 40px;
    margin: 0;
    letter-spacing: 5px;
    color: #e4cfb9;
}

/* banner */

#banner {
    width: 1100px;
    height: 250px;
    background-image: url(pictures/film4.png);
    background-size: 1100px 250px;
    background-repeat: no-repeat;
    /* border-left: 20px solid black;
    border-right: 20px solid black; */
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    opacity: 60%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
/* 
#banner div{
    align-items: center;
} */

#banner div:hover {
    transform: perspective(1000px) rotateZ(3600deg);
    transition: all 100s;
}

#reel1 img{
    opacity: 100%;
    width: 130px;
}

#reel2 img{
    width: 105px;
}

#reel3 img{
    width: 110px;
}

#reel4 img{
    width: 125px;
}

/* the rest */

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

section h2 {
    font-family: 'Passion One', cursive;
    letter-spacing: 5px;
    font-weight: 10;
    font-size: 26px;
    color: #6d5343;
}

section ul{
    text-align: left;
    list-style-type: none;
    padding-left: 0px;
}

section ul li{
    text-align: left;
    font-family: 'Titillium Web', sans-serif;
    font-size: 22px;
    font-weight: 1000;
    letter-spacing: 2px;
    padding-top: 8px; 
    padding-bottom: 8px;
}

section ul li a{
    text-decoration: none;
    color: #ac9c93;
}

section ul li a:hover {
    text-decoration: none;
    color: #422619;
    background-color: #d6cac3;
    font-weight: bolder;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-top: 20px;
    margin-bottom: 50px; */
}

footer a {
    padding: 50px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Passion One', cursive;
    letter-spacing: 5px;
    color: rgb(73, 52, 49);
    margin-bottom: 50px;
}