/* body with background and the viewport's width */

body {
    margin: auto;
    max-width: 1366px;
    min-width: 900px;
    background-color: #f0e6dc;
}

/* images on top and bottom that stay static */
 
.border-top {
    position: absolute;
    top: 0;
}

.border-bottom {
    position: absolute;
    bottom: 0;
}

/* #wrap for header, sections, and footer */
/* style: all in center of the viewport */

/* scrolling container*/
#scrolling {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    display: flex;
    justify-content: space-between;
}

/* "Dear Xinlei Li..." */
header {
    font-family: 'Josefin Slab', serif;
    font-size: 40px;
    position: relative;
    top: 30vh;
    margin-left: 50px;
}

/* where all the years and journal contents be */
#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 20vh;
}

.empty-space {
    width: 500px;
}

/* each year sections' style */

.years {
    width: 600px;
    display: flex;
    align-items: center;
    
}

.years h2{
    font-family: 'Caveat', cursive;
    font-size: 100px;
    color: rgb(199, 170, 135);
    
}

.keywords {
    opacity: 0.6;
    width: 500px;
    z-index: -1;
}

/* footer: a vertical boxat the end of the page */
footer {
    background-color: #c3b2a6;
    width: 200px;
    height: 100vh;
    /* position: absolute;
    right: 0;
    top: 0; */
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

footer ul li{
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    font-family: 'Josefin Slab', serif;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
